<?xml version="1.0" encoding="UTF-8"?><plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.phonegap.plugins.opendocs"
    version="2.0.1">

    <name>OpenDocs</name>
    <description></description>
    <license>MIT</license>

    <repo>https://github.com/tookiez/openDocs</repo>
    <issue>https://github.com/tookiez/openDocs/issues</issue> 
    
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>    

    <js-module src="www/OpenDocs.js" name="OpenDocs">
        <clobbers target="cordova.plugins.opendocs" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <!-- Cordova >= 2.8 -->
        <config-file target="config.xml" parent="/*">
            <feature name="OpenDocs">
                <param name="ios-package" value="OpenDocs" /> 
            </feature>
        </config-file>
        <header-file src="src/ios/OpenDocs.h" />
        <source-file src="src/ios/OpenDocs.m" />
    </platform>

    <!-- android -->
    <platform name="android">
        <source-file src="src/android/OpenDocs.java" target-dir="src/android" />
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="OpenDocs">
                <param name="android-package" value="OpenDocs" />
            </feature>
        </config-file>
    </platform>
</plugin>